<template name="CardsIndex">
  <div class="row">
    <div class="columns">
      <div class="panel">
        {{> pagesNav}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns">
      <div class="row">
        <div class="columns large-3">Title</div>
        <div class="columns large-2">Edition</div>
        <div class="columns large-1">Rarity</div>
        <div class="columns large-3">Type</div>
        <div class="columns large-2">Cost</div>
        <div class="columns large-1">P/T</div>
        <hr />
      </div>
      {{> pages}}
    </div>
  </div>
</template>

<template name="CardsPage">
  <div class='row'>
    <div class="columns large-3">
      <a href='/cards/{{this._id}}'>{{this.name}}</a>
    </div>
    <div class="columns large-2">{{this.set.name}}</div>
    <div class="columns large-1">{{{formattedSetSymbol this}}}</div>
    <div class="columns large-3">{{formattedTypes this}}</div>
    <div class="columns large-2">{{{formattedManaCost this.manaCost}}}</div>
    <div class="columns large-1">{{formattedPowerToughness this}}</div>
  </div>
  <hr />
</template>
