<template name="SearchForm">
  <form id="search" action='/search' name="search">
    <div class="row">
      <div class="columns large-4 small-12">
        <input type="text" name="name" placeholder="Card Name">
      </div>
      <div class="columns large-4 small-12 end">
        <select id="rarity" name="rarity">
          <option value='' selected>Choose Rarity</option>
          <option value="Basic Land">Basic Land</option>
          <option value="Common">Common</option>
          <option value="Uncommon">Uncommon</option>
          <option value="Rare">Rare</option>
          <option value="Mythic Rare">Mythic</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="columns large-4 small-6">
        <select id="types" name="types">
          <option value='' selected>Any Type</option>
          <option value="Artifact">Artifact</option>
          <option value="Creature">Creature</option>
          <option value="Enchantment">Enchantment</option>
          <option value="Instant">Instant</option>
          <option value="Land">Land</option>
          <option value="Planeswalker">Planeswalker</option>
          <option value="Sorcery">Sorcery</option>
        </select>
      </div>
      <div class="columns large-4 end">
        <input id="fuzzy-type" type="text" name="fuzzy-type" placeholder='keyword' />
      </div>
    </div>
    <div class="row">
      <div class="columns large-4 small-12">
        <select id="set" name="set">
          <option value='' selected>Any Edition</option>
          {{#each blockList}}
            <option value={{_id}}>--- {{name}} Block ---</option>
            {{#each sets}}
              <option value={{_id}}>{{name}}</option>
            {{/each}}
          {{/each}}
        </select>
      </div>
    </div>
    <div class="row">
      <div class="columns large-8 large-centered small-11 small-centered">
        <fieldset>
          <div class="row collapse">
            {{#each colors}}
              <div class="columns large-3 small-6">
                {{#each colorGroup}}
                  <div class="row">
                    <label>
                      <input type="checkbox" name="colors[]" value={{value}} />
                      {{#each icon}}
                        <i class="mtg mana-{{this}}"></i>
                      {{/each}}
                      {{label}}
                    </label>
                  </div>
                {{/each}}
              </div>
            {{/each}}
          </div>
        </fieldset>
      </div>
    </div>
    <button class='btn small' type="submit">Search</button>
  </form>
</template>

